<div class="products-container">
  <div class="prouct-item">
    <div class="wishlist-sale-container">
      <div class="add-to-wishlist">
        <i class="fa fa-heart-o" aria-hidden="true"></i>
      </div>
      <div class="on-sale-tag">75% OFF</div>
    </div>
    <div class="product-image">
      <img src="IMGSRC" class="product-image">
    </div>
    <div class="add-to-price">PRICE</div>
    <div class="product-name">NAME</div>
    <div class="product-category">GENDER . CATEGORY . BRAND</div>
    <div class="product-available-colors">$COLORCOUNT Colors . Best Seller</div>
  </div>

</div>
